:root {
  --c1: rgb(230, 141, 8);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  /* scroll-behavior: smooth; */
}

.row {
  margin: 0 auto;
  max-width: 1140px;
}
ul {
  list-style: none;
}
/* ------------------------------ */
/*  -----------Header------------- */
/* ------------------------------- */
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.main-nav {
  float: right;
  margin-top: 40px;
}
.main-nav:after {
  clear: both;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
  /* border-bottom: 2px solid transparent; */
  /* transition: border-bottom 0.2s; */
  position: relative;
  /*the only reason its there is because of transition. if u except it the transition will like breaking */
  /* i latter abandoned that way an implemented a new style */
}
.main-nav li a:link:before,
.main-nav li a:visited:before {
  position: absolute;
  border-bottom: 2px solid var(--c1);
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  overflow: hidden;
  transition: left 0.4s, right 0.4s;
  content: "";
}
.main-nav li a:hover:before,
.main-nav li a:active::before {
  left: 0;
  right: 0;
}

/* .main-nav li a:hover,
.main-nav li a:active {
 border-bottom: 2px solid var(--c1);
} */

header {
  background: linear-gradient(rgba(10, 10, 10, 0.87), rgba(10, 10, 10, 0.856)),
    url(../images/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  padding: 80px 0;
}
h2,
h3 {
  text-transform: uppercase;
  word-spacing: 2px;
}
h2 {
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-align: center;
}
h3 {
  margin-bottom: 15px;
}
h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h1 {
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
  margin-bottom: 10px;
}
:link,
:visited {
  text-decoration: none;
}

.btn {
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  box-shadow: inset 0 0 0 2px rgb(53, 160, 248);
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  position: relative;
}
.btn-full {
  transition: background-color 1s ease-in 0s;
}
.btn-full:hover {
  background-color: var(--c1);
}
.btn:hover,
.btn:active {
  color: #fff;
}
.btn-ghost:hover:before {
  bottom: 0;
}
.btn-ghost:before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  top: 0;
  z-index: -1;
  background-color: #f3be2e;
  transition: bottom 0.2s;
  content: "";
}

.__flex {
  display: flex;
  flex-wrap: wrap;
}

.__1-4 {
  flex: 0 0 280px;
  margin: 0 auto;
}
.__1-3 {
  flex: 0 0 300px;
  margin: 0 auto;
}
.__1-2 {
  flex: 1;
}

.box {
  padding: 1%;
}
.box p {
  font-size: 0.9em;
  line-height: 1.4em;
}
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.icon-big {
  font-size: 3em;
  display: block;
  color: var(--c1);
  text-align: center;
  margin-bottom: 10px;
}

.section-features .long-copy {
  margin-bottom: 30px;
}

.section-meals {
  padding: 0;
}

.box h3 {
  /* font-weight: 300; */
  font-size: 110%;
}

.meal-showcase {
  width: 100%;
}
.meal-showcase li {
  display: block;
  float: left;
  width: 25%;
}
.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/* Section 3 or Steps */
.section-steps {
  background-color: #f4f4f4;
}
.steps-box {
  margin-top: 30px;
}
.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  text-align: left;
  margin-top: 70px;
}
.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}
.works-step:last-of-type {
  margin-bottom: 80px;
}
.works-step div {
  color: var(--c1);
  border: 2px solid var(--c1);
  display: inline-block;
  height: 55px;
  width: 55px;
  border-radius: 50px;
  padding: 5px;
  font-size: 1.5em;
  text-align: center;
  margin-right: 25px;
  float: left;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* section 4 cities */
.city img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.city {
  margin-top: 0.7em;
}

.city-feature {
  margin-bottom: 5px;
}

.city-feature i {
  font-size: 1.2em;
  color: var(--c1);
  display: inline-block;
  width: 50px;
  text-align: center;
  /* secret to align text and icons */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -2px;
}
.city-feature a:link,
.city-feature a:visited {
  color: var(--c1);
  padding-bottom: 1px;
  border-bottom: 1px solid var(--c1);
  transition: color 0.2s, border-bottom 0.2s;
}

.city-feature a:active,
.city-feature a:hover {
  color: blue;
  border-bottom: 1px solid transparent;
}

/* section testimonial */
.section-testimonials {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/back-customers.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
blockquote {
  font-style: italic;
  line-height: 145%;
  padding: 2%;
  position: relative;
  margin-top: 40px;
}
blockquote img {
  border-radius: 50px;
  height: 45px;
  vertical-align: middle;
  margin-right: 10px;
}
blockquote:before {
  content: "\201C";
  display: block;
  font-size: 500%;
  position: absolute;
  top: -5px;
  left: -5px;
}
cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

/* section plans */
.section-plans {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px #fadc357c;
  margin-top: 15px;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
}
.plan-box div:last-child {
  font-weight: 400;
  text-align: center;
  border: 0;
}
.plan-box a {
  color: var(--c1);
}
.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box li {
  font-weight: 400;
  font-size: 0.9em;
}

.plan-price {
  font-size: 200%;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--c1);
}
.plan-price span {
  font-size: 20px;
  margin-left: 1em;
}
.plan-box i {
  color: var(--c1);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.5em;
  vertical-align: middle;
}
.plan-price-meal {
  font-weight: 400;
}

/* form */
.map-form {
  position: relative;
  max-width: 100%;
}
.contact-form {
  margin: 0 auto;
  padding: 20px;
  /* max-width: 60%;  */
}
.map {
  width: 100%;
  height: 500px;
  position: relative;
}
.form-absolute {
  z-index: 1;
  background-color: #fff;
  position: absolute;
  width: 600px;
  top: 50px;
  right: 5%;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
select,
textarea {
  padding: 6px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid rgb(201, 200, 200);
}
.__1-form {
  flex: 0 0 220px;
  margin: 10px 0 10px 0;
}
.__2-form {
  flex: 0 0 300px;
  margin: 10px 0 10px 0;
}
.__2-form .btn {
  margin-left: 100px;
}

textarea {
  height: 100px;
}
.contact-form input[type="submit"] {
  color: black;
  border: none;
}
.contact-form input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}
/* footer */
footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
}

.social-links {
  list-style: none;
  text-align: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram:hover {
  color: #517fa4;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1023px) {
}
@media only screen and (max-width: 767px) {
  .logo {
    height: 60px;
    padding-left: 10px;
  }
  .hero-text-box {
    display: none;
  }
  .__1-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
  }
  .steps-box:first-child {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }
  .main-nav {
    display: none;
  }
  .logo {
    height: 60px;
    padding-left: 10px;
  }
  .__1-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
  }
  .steps-box:first-child {
    text-align: center;
  }
  .hero-text-box {
    display: none;
  }
  .social-links {
    margin-top: 10px;
    text-align: center;
  }
  .footer-nav li,
  .social-links li {
    display: inline-block;
    margin-right: 10px;
  }
  .contact-form {
    max-width: 80%;
  }
  .steps-box:last-child {
    margin-top: 40px;
  }
  .works-step {
    margin-bottom: 25px;
  }
  .works-step:last-of-type {
    margin-bottom: 40px;
  }
  section {
    padding: 40px 0;
  }

  .works-step div {
    width: 40px;
    height: 40px;
  }
  .btn-app img {
    height: 41px;
    width: auto;
  }
  .form-absolute {
    width: 300px;
    right: 9%;
    top: 10px;
  }
  .contact-form {
    padding: 0px;
  }

  .__1-form {
    flex: 0 0 200px;
    margin: 10px 0 10px 0;
  }
  .__2-form {
    flex: 0 0 220px;
    margin: 10px 0 10px 0;
  }
  .__2-form .btn {
    margin-left: 50px;
  }
  .map {
    height: 630px;
  }
}

/* ----------------------------------------------- */
/* Animations */
/* ----------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}
